{# View :: Index #}

{% extends "base.twig" %}

{% block content %}
  <h2>{{foo}}</h2>
  <p>{{qux}}</p>
  {% for post in posts %}

    {% include ['/partials/snippet.twig'] %}

  {% endfor %}

  {% include ['partials/pagination.twig'] %}

{% endblock %}