<div class="comments {{comment.comment_type}}" id="blog-comment-{{comment.ID}}" itemscope itemtype="http://schema.org/UserComments">
  <header>
    <h5 itemprop="name">{{comment.author.name}} says</h5>
  </header>
  <div itemprop="commentText">
    {{comment.comment_content|wpautop}}
  </div>
</div>
