{# View :: Partial :: Post - Meta #}

<div>
  <span>By</span>
  <a href="{{post.author.path}}" itemprop="author">{{ post.author.name }}</a>
  <span>&bull;</span>
  <span itemprop="datePublished" content="{{ post.post_date|date}}">
    {{ post.post_date|date}}
  </span>
</div>